In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

* This task will be done in following steps:

1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results y

In [ ]:
driver = webdriver.Chrome()

In [ ]:
# Opening the shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [5]:
# Entering designation and location as required in the question - 


designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [6]:
location = driver.find_element(By.CLASS_NAME,"form-control  ")
location.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [8]:
Job_title = []
Job_location = []
Company_name = []
Experience_required = []

In [9]:
# Scraping Job_title from the given page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    Job_title.append(title)
    
# Scraping Company_name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    Company_name.append(company)
    
# Scraping Experience_required from the given page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience = i.text
    Experience_required.append(experience)
    
# Scraping Job_location form the given page
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text
    Job_location.append(location.split('\n')[0].replace('\n',''))

In [10]:
print(len(Job_title),len(Company_name),len(Experience_required),len(Job_location))

10 10 10 10

In [11]:
df = pd.DataFrame({'Title':Job_title,'Company name':Company_name,'Experience':Experience_required,'Location':Job_location})

df

,Title,Company name,Experience,Location
0,"Data Engineer II, Amazon WFM Tech Enterprise Data",amazon,3 to 5 Yrs,Bangalore
1,Opening for senior accountant dubai,always international manpower servi...,1 to 5 Yrs,Vizianagaram
2,Opening for senior accountant dubai,always international manpower servi...,1 to 5 Yrs,Anantpur
3,Opening for senior accountant dubai,always international manpower servi...,1 to 5 Yrs,Ramgarh
4,"Hiring CA,CA Inter, CAM Candidates - Accountin...",always international manpower servi...,1 to 5 Yrs,Surat
5,Warehouse Supervisor Accountants in Dubai,always international manpower servi...,1 to 5 Yrs,Bangalore
6,Data Entry Senior Representative,v-tech data outsourcing,0 to 2 Yrs,Denmark
7,Immediate opening for Data entry operator work...,v-tech data outsourcing,0 to 2 Yrs,Gandhinagar
8,Data Entry Clerk,v-tech data outsourcing,0 to 2 Yrs,Denmark
9,Data Outsourcing,v-tech data outsourcing,0 to 2 Yrs,Denmark

### Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

* This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [12]:
driver = webdriver.Chrome()

In [13]:
# Operning the shone page automaticed chrome browser
driver.get('https://www.shine.com/')

In [14]:
# Entering designation and location as required in the question - 
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [15]:
location = driver.find_element(By.CLASS_NAME,"form-control  ")
location.send_keys('Bangalore')

In [16]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [17]:
Job_title = []
Company_name = []
Experience_required = []
Job_location = []

In [18]:
# Scraping Job_title form the given page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    Job_title.append(title)
    
# Scraping Company_name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    Company_name.append(company)
    
# Scraping Experience_required form the given page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience = i.text
    Experience_required.append(experience)
    
# Scraping Job_location from the given page
locaton_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locaton_tags[0:10]:
    location = i.text
    Job_location.append(location.split('\n')[0].replace('\n',''))

In [19]:
print(len(Job_title),len(Company_name),len(Experience_required),len(Job_location))

10 10 10 10

In [20]:
df = pd.DataFrame({'Title':Job_title,'Company name':Company_name,'Experience':Experience_required,'Location':Job_location})

df

,Title,Company name,Experience,Location
0,"Data Engineer II, Amazon WFM Tech Enterprise Data",amazon,3 to 5 Yrs,Bangalore
1,Opening for senior accountant dubai,always international manpower servi...,1 to 5 Yrs,Vizianagaram
2,Opening for senior accountant dubai,always international manpower servi...,1 to 5 Yrs,Anantpur
3,Opening for senior accountant dubai,always international manpower servi...,1 to 5 Yrs,Ramgarh
4,"Hiring CA,CA Inter, CAM Candidates - Accountin...",always international manpower servi...,1 to 5 Yrs,Surat
5,Warehouse Supervisor Accountants in Dubai,always international manpower servi...,1 to 5 Yrs,Bangalore
6,Data Entry Senior Representative,v-tech data outsourcing,0 to 2 Yrs,Denmark
7,Immediate opening for Data entry operator work...,v-tech data outsourcing,0 to 2 Yrs,Gandhinagar
8,Data Entry Clerk,v-tech data outsourcing,0 to 2 Yrs,Denmark
9,Data Outsourcing,v-tech data outsourcing,0 to 2 Yrs,Denmark