# Web Scraping Assignment1 BeautifulSoup

In [33]:
#importing required packages

import pandas as pd

from bs4 import BeautifulSoup
import requests
import re

### Q1 - Write a python program to display all the header tags from wikipedia.org and make data frame.

In [34]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')   # Check response status

print(page,'\n')

soup = BeautifulSoup(page.text)                # Getting Page Content

wiki_header = []

for i in soup.find_all(['h1','h2']):
    wiki_header.append(i.text)
    
WikipediaHeader = pd.DataFrame({})     # Convert into dataframe
WikipediaHeader['wikipedia Main Page Header Tag'] = wiki_header

WikipediaHeader

<Response [200]>

   wikipedia Main Page Header Tag
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

### Q -2 Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [53]:
page = requests.get('https://presidentofindia.nic.in/former-presidents')   # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.text)                                   # Getting page Content

presidents_name = []

for i in soup.find_all('h3'):
    presidents_name.append(i.text)

# Convert into dataframe
df = pd.DataFrame({'Presidents Name':presidents_name})
 
df

<Response [200]>

                 Presidents Name
0           Shri Ram Nath Kovind
1          Shri Pranab Mukherjee
2   Smt Pratibha Devisingh Patil
3         DR. A.P.J. Abdul Kalam
4           Shri K. R. Narayanan
5        Dr Shankar Dayal Sharma
6            Shri R Venkataraman
7               Giani Zail Singh
8      Shri Neelam Sanjiva Reddy
9       Dr. Fakhruddin Ali Ahmed
10  Shri Varahagiri Venkata Giri
11              Dr. Zakir Husain
12  Dr. Sarvepalli Radhakrishnan
13           Dr. Rajendra Prasad

### Q - 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [36]:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')        # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.content)                                               # Getting page Content

Country = []
Matches = []
Points = []
Rating = []

# Country
for i in soup.find_all('span',class_="u-hide-phablet"):
    Country.append(i.text)
    Country = Country[:10]

# Matches
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    Matches.append(i.text)

# Points
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    Points.append(i.text)

# Rating
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    Rating.append(i.text.replace('\n',"").replace('                            ',""))
    

for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    Rating.append(i.text)
    Rating = Rating[:10]
    
center = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    center.append(i.text)

for i in range(0,len(center)):
    if i==0 or i/2 == i//2:
        Matches.append(center[i])
    else:
        Points.append(center[i])

Matches = Matches[:10]
Points = Points[:10]

# Convert into dataframe
df = pd.DataFrame({'Country':Country,'Matches':Matches,'Points':Points,'Ratings':Rating})
df

<Response [200]>

        Country Matches Points Ratings
0     Australia      26  3,061     118
1         India      39  4,516     116
2      Pakistan      27  3,102     115
3       England      27  2,790     103
4   New Zealand      30  3,057     102
5  South Africa      22  2,218     101
6     Sri Lanka      37  3,448      93
7    Bangladesh      32  2,941      92
8   Afghanistan      21  1,687      80
9   West Indies      38  2,582      68

In [39]:
# b) Top 10 ODI Batsmen along with the records of their team and rating.

batsmens = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')      # Check Response status

print(page,'\n')

soup = BeautifulSoup(batsmens.text)                                        # Getting page Content
 
Name = []
Nation = []
Rating = []

# Name
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    Name.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text.replace('\n',''))
    Name = Name[:10] 

# Nation
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    Nation.append(i.text.replace('\n','').replace('          ',''))

for i in soup.find_all('span',class_="table-body__logo-text"):
    Nation.append(i.text)
    Nation = Nation[:10]

# Rating
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    Rating.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    Rating.append(i.text)
    Rating = Rating[:10]

# Convert into dataframe    
Top_Batsmens = pd.DataFrame({'Batsman_name':Name,'Batsman_nation':Nation,'Batsman_Rattings':Rating})

Top_Batsmens

<Response [200]>

            Batsman_name Batsman_nation Batsman_Rattings
0             Babar Azam            PAK              863
1           Shubman Gill            IND              759
2  Rassie van der Dussen             SA              745
3           David Warner            AUS              739
4            Imam-ul-Haq            PAK              735
5           Harry Tector            IRE              726
6        Quinton de Kock             SA              721
7            Virat Kohli            IND              715
8           Rohit Sharma            IND              707
9           Fakhar Zaman            PAK              705

In [40]:
# c) Top 10 ODI bowlers along with the records of their team and rating.

bowlers = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')       # Check Response status

print(page,'\n')

soup = BeautifulSoup(bowlers.text)                                                        # Getting page Content
 

Name = []
Nation = []
Rating = []

# Name
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    Name.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text.replace('\n',''))
    Name = Name[:10]

# Nation
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    Nation.append(i.text.replace('\n','').replace('          ',''))

for i in soup.find_all('span',class_="table-body__logo-text"):
    Nation.append(i.text)
    Nation = Nation[:10]
    
# Rating
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    Rating.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    Rating.append(i.text)
    Rating = Rating[:10]

# Convert into dataframe
Top_Bowlers = pd.DataFrame({'Bowler_name':Name,'Bowler_nation':Nation,'Bowler_rating':Rating})
Top_Bowlers

<Response [200]>

        Bowler_name Bowler_nation Bowler_rating
0    Josh Hazlewood           AUS           692
1    Mitchell Starc           AUS           666
2       Trent Boult            NZ           666
3        Adam Zampa           AUS           663
4        Matt Henry            NZ           658
5  Mujeeb Ur Rahman           AFG           657
6     Kuldeep Yadav           IND           656
7       Rashid Khan           AFG           655
8    Mohammed Siraj           IND           643
9    Shaheen Afridi           PAK           635

### Q - 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [41]:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')         # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.text)                                                   # Getting page Content

Country = []
Matches = []
Points = []
Rating = []

# Country
for i in soup.find_all('span',class_="u-hide-phablet"):
    Country.append(i.text)
    Country = Country[:10]
    
# Matches
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    Matches.append(i.text)

# Points 
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    Points.append(i.text)
    
# Rating 
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    Rating.append(i.text.replace('\n','').replace('              ',''))

for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    Rating.append(i.text)
    Rating = Rating[:10]

# Extract elemts 
Mix = []

for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    Mix.append(i.text)

for i in range(0,len(Mix)):
    if i==0 or i/2 == i//2:
        Matches.append(Mix[i])
    else:
        Points.append(Mix[i])

Matches = Matches[:10]        
Points  = Points[:10]        
        
# Convert into dataframe
df = pd.DataFrame({'Country':Country,'Matches':Matches,'Points':Points,'Rating':Rating})

df

<Response [200]>

        Country Matches Points Rating
0     Australia      26  4,290    165
1       England      31  3,875    125
2  South Africa      26  3,098    119
3         India      30  3,039    101
4   New Zealand      28  2,688     96
5   West Indies      29  2,743     95
6    Bangladesh      17  1,284     76
7     Sri Lanka      12    820     68
8      Thailand      13    883     68
9      Pakistan      27  1,678     62

In [42]:
# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')        # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.text)                                                      # Getting page Content                                                     

Name = []
Nation = []
Rating = []

# Name
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    Name.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text.replace('\n',''))
    Name = Name[:10]

# Nation
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    Nation.append(i.text.replace('\n',''))

for i in soup.find_all('span',class_="table-body__logo-text"):
    Nation.append(i.text)
    Nation = Nation[:10]

# Rating
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    Rating.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    Rating.append(i.text)
    Rating = Rating[:10]

# Convert into dataframe
Top_Batsmen = pd.DataFrame({'Player_name':Name,'Player_nation':Nation,'Player_rating':Rating})

Top_Batsmen

<Response [200]>

            Player_name            Player_nation Player_rating
0  Natalie Sciver-Brunt  ENG                               801
1           Beth Mooney                      AUS           751
2   Chamari Athapaththu                       SL           743
3       Laura Wolvaardt                       SA           708
4       Smriti Mandhana                      IND           708
5          Alyssa Healy                      AUS           702
6      Harmanpreet Kaur                      IND           694
7          Ellyse Perry                      AUS           686
8           Meg Lanning                      AUS           682
9       Stafanie Taylor                       WI           618

In [43]:
# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')         # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.text)                                                           # Getting page Content

Name   = []
Nation = []
Rating = []

# Name
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    Name.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text.replace('\n',''))
    Name = Name[:10]

# Nation
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    Nation.append(i.text.replace('\n','').replace('          ',''))

for i in soup.find_all('span',class_="table-body__logo-text"):
    Nation.append(i.text)
    Nation = Nation[:10]
    
# Rating
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    Rating.append(i.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    Rating.append(i.text)
    Rating = Rating[:10]

# Convert into dataframe
Top_bowler = pd.DataFrame({'Player_name':Name,'Player_nation':Nation,'Player_rating':Rating})

Top_bowler

<Response [200]>

           Player_name Player_nation Player_rating
0    Sophie Ecclestone           ENG           761
1       Shabnim Ismail            SA           708
2        Jess Jonassen           AUS           682
3     Ashleigh Gardner           AUS           673
4         Megan Schutt           AUS           666
5      Hayley Matthews            WI           662
6           Kate Cross           ENG           660
7       Ayabonga Khaka            SA           646
8        Deepti Sharma           IND           607
9  Rajeshwari Gayakwad           IND           599

### Q - 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-

    i) Headline

    ii) Time

    iii) News Link

In [45]:
page = requests.get('https://www.cnbc.com/world/?region=world')                # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.text)                                             # Getting page Content

Headline = []
Time = []
News_Link = []

# Headline
for i in soup('div',class_="LatestNews-headlineWrapper"):
    Headline.append(i.text.replace('2023','Ago').split('Ago')[1])

# Time
for i in soup('time',class_="LatestNews-timestamp"):
    Time.append(i.text)

# News_link
for i in soup('a',class_="LatestNews-headline"):
    News_Link.append(i['href'])

# Convert into dataframe
Latest_news = pd.DataFrame({'Headline':Headline,'Time':Time,'News_Line':News_Link})

Latest_news

<Response [200]>

,Headline,Time,News_Line
0,Here's what we think about the big time buyout...,7 Min Ago,https://www.cnbc.com/2023/09/15/heres-what-we-...
1,Hispanic and Latina women's investing confiden...,16 Min Ago,https://www.cnbc.com/2023/09/15/hispanic-and-l...
2,Planet Fitness shares sink 15% after board ous...,23 Min Ago,https://www.cnbc.com/2023/09/15/planet-fitness...
3,Student loan borrowers at risk of scams as pay...,28 Min Ago,https://www.cnbc.com/2023/09/15/student-loan-b...
4,This company is transforming the energy drink ...,47 Min Ago,https://www.cnbc.com/2023/09/15/this-company-i...
5,Here's where AMC and GameStop are now as 'Dumb...,48 Min Ago,https://www.cnbc.com/2023/09/15/heres-where-am...
6,The No. 1 'underrated' nutrient you’ve never h...,1 Hour Ago,https://www.cnbc.com/2023/09/15/underrated-nut...
7,CFP: 'My wife and I have almost entirely separ...,2 Hours Ago,https://www.cnbc.com/2023/09/15/cfp-how-my-wif...
8,Buy this landfill stock as it flexes its stron...,2 Hours Ago,https://www.cnbc.com/2023/09/15/buy-this-landf...
9,529 college savings plans had a major sticking...,2 Hours Ago,https://www.cnbc.com/2023/09/15/529-college-sa...
10,Top 10 things to watch in the stock market Friday,2 Hours Ago,https://www.cnbc.com/2023/09/15/top-10-things-...
11,Why Stellantis could face a longer strike than...,3 Hours Ago,https://www.cnbc.com/2023/09/15/stellantis-cou...
12,What to know about the deal between fast-food ...,3 Hours Ago,https://www.cnbc.com/2023/09/15/california-fas...
13,A degree from this Ivy League university can a...,3 Hours Ago,https://www.cnbc.com/2023/09/15/colleges-that-...
14,Stocks making biggest moves premarket: Arm Hol...,3 Hours Ago,https://www.cnbc.com/2023/09/15/stocks-making-...
15,"Friday's biggest analyst calls: Apple, GM, Ama...",3 Hours Ago,https://www.cnbc.com/2023/09/15/fridays-top-wa...
16,Women are more likely to face these financial ...,3 Hours Ago,https://www.cnbc.com/2023/09/15/women-are-more...
17,"Sell Rosh Hashanah, buy Yom Kippur? What's beh...",3 Hours Ago,https://www.cnbc.com/2023/09/15/sell-rosh-hash...
18,Video game developer is poised to ride the inn...,4 Hours Ago,https://www.cnbc.com/2023/09/15/this-video-gam...
19,5 things to know before the stock market opens...,4 Hours Ago,https://www.cnbc.com/2023/09/15/5-things-to-kn...
20,"Trump, DeSantis go head-to-head at key conserv...",4 Hours Ago,https://www.cnbc.com/2023/09/15/trump-desantis...
21,Shipping giant Maersk is seeing tentative sign...,4 Hours Ago,https://www.cnbc.com/2023/09/15/shipping-giant...
22,"Arm valuation already 'looks full' after IPO, ...",4 Hours Ago,https://www.cnbc.com/2023/09/15/arm-valuation-...
23,Yum China says tech let it open stores without...,4 Hours Ago,https://www.cnbc.com/2023/09/15/yum-china-says...
24,"Covid, RSV and flu shots are here: How to deci...",5 Hours Ago,https://www.cnbc.com/2023/09/15/covid-rsv-flu-...
25,Here's what analysts are saying after Adobe's ...,5 Hours Ago,https://www.cnbc.com/2023/09/15/heres-what-ana...
26,Oil just hit its highest level of the year — a...,5 Hours Ago,https://www.cnbc.com/2023/09/15/oil-to-hit-100...
27,TD Cowen: Buy Bud Light owner AB InBev stock a...,5 Hours Ago,https://www.cnbc.com/2023/09/15/buy-bud-light-...
28,"Arm's second trading day is more subdued, but ...",5 Hours Ago,https://www.cnbc.com/2023/09/15/arm-shares-sec...
29,Buy the dip on this technology stock for nearl...,6 Hours Ago,https://www.cnbc.com/2023/09/15/buy-the-dip-on...

### Q - 6) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details and make data frame
          
        i) Paper Title
        ii) Authors
        iii) Published Date
        iv) Paper URL

In [46]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')   # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.text)                                                      # Getting page Content

Paper_Title    =  []
Authors        =  []
Published_Date =  []
Paper_URL      =  []

# Paper_Title
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    Paper_Title.append(i.text)
    
# Authors
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)

# Published_Data
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)

# Paper_URL 
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    Paper_URL.append(i.get('href'))

# Convert into dataframe
AI_Articles = pd.DataFrame({'Title':Paper_Title,'Authors':Authors,'Published Date':Published_Date,'URL':Paper_URL})

AI_Articles

<Response [200]>

,Title,Authors,Published Date,URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

### Q - 7) Write a python program to scrape mentioned details from dineout.co.inand make data frame

     i) Restaurant name
     ii) Cuisine
     iii) Location
     iv) Ratings
     v) Image URL

In [48]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')          # Check Response status

print(page,'\n')

soup = BeautifulSoup(page.text)                                              # Getting page Content

Restaurant_name =  []
Cuisine         =  []
Location        =  []
Ratings         =  []
Image_URL       =  []

# Restaurant_name
for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant_name.append(i.text)
    
# Cuisine
for i in soup.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(i.text.split('|')[1])

# Location
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)

# Ratings
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
    
# Image_URL
for i in soup.find_all('span',class_="double-line-ellipsis"):
    Image_URL.append(i.text.replace('₹','Rs').split('|')[0])

# Convert into dataframe
Dineout = pd.DataFrame({'Restaurant name':Restaurant_name,'Cuisine':Cuisine,'Location':Location,'Rating':Ratings,'URL':Image_URL})

Dineout

<Response [200]>

,Restaurant name,Cuisine,Location,Rating,URL
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",4,"Rs 2,000 for 2 (approx)"
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,"Rs 3,000 for 2 (approx)"
2,"Castle's BarbequePacific Mall,Tagore Garden, W...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,"Rs 2,000 for 2 (approx)"
3,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,"Rs 2,400 for 2 (approx)"
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,"Rs 1,700 for 2 (approx)"
5,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,"Rs 1,800 for 2 (approx)"
6,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,"Rs 1,900 for 2 (approx)"
7,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,"Rs 2,200 for 2 (approx)"
8,"The Barbeque TimesM2K Corporate Park,Sector 51...","North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,"Rs 1,500 for 2 (approx)"