In [164]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
import re

from selenium import webdriver

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementNotInteractableException

import requests

from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

* A) Rank
* B) Name
* C) Artist
* D) Upload date

In [12]:
# Connect the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(3)

rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

# RAnk 
rank_tag = driver.find_elements(By.XPATH,'//td[@align="center"][1]')
try:
    for i in rank_tag[0:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
except ElementNotVisibleException:
    rank.append("--")
            
# Name
name_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
try:
    for i in name_tag[0:30]:
        v_name=i.text.split('[')
        name.append(v_name[0].replace('"',''))
except NoSuchElementException:
    name.append("-")
except ElementNotVisibleException:
    name.append("--")
    
artist_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
try:
    for i in artist_tag[0:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")
    
date_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
try:
    for i in date_tag[0:30]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append(i.text)
    
driver.close()

most_viewed = pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload date':upload_date})
most_viewed

,Rank,Name,Artist,Upload date
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016"
3,4.,Bath Song,Cocomelon - Nursery Rhymes,"May 2, 2018"
4,5.,Shape of You,Ed Sheeran,"January 30, 2017"
5,6.,See You Again,Wiz Khalifa,"April 6, 2015"
6,7.,Wheels on the Bus,Cocomelon - Nursery Rhymes,"May 24, 2018"
7,8.,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014"
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014"
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018"
10,11.,Gangnam Style,officialpsy,"July 15, 2012"
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012"
12,13.,Dame Tu Cosita,Ultra Records,"April 5, 2018"
13,14.,Axel F,Crazy Frog,"June 16, 2009"
14,15.,Sugar,Maroon 5,"January 14, 2015"
15,16.,Counting Stars,OneRepublic,"May 31, 2013"
16,17.,Roar,Katy Perry,"September 5, 2013"
17,18.,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,"June 25, 2018"
18,19.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010"
19,20.,Sorry,Justin Bieber,"October 22, 2015"
20,21.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018"
21,22.,Thinking Out Loud,Ed Sheeran,"October 7, 2014"
22,23.,Dark Horse,Katy Perry,"February 20, 2014"
23,24.,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018"
24,25.,Perfect,Ed Sheeran,"November 9, 2017"
25,26.,Let Her Go,Passenger,"July 25, 2012"
26,27.,Faded,Alan Walker,"December 3, 2015"
27,28.,Girls Like You,Maroon 5,"May 31, 2018"
28,29.,Shree Hanuman Chalisa,T-Series Bhakti Sagar,"May 10, 2011"
29,30.,Lean On,Major Lazer Official,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

* A) Series
* B) Place
* C) Date
* D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [ ]:
for _ in range(10):
    driver.execute_script("window.scrollBy(0,1000)")
    time.sleep(3)
    try:
        driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[3]/div[2]/div[1]/button[1]').click()
    except NoSuchElementException:
        print("NoSuchElementException ")

In [7]:
# Connect the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get('https://www.bcci.tv/')

series=[]
place=[]
date=[]
m_time=[]

# Close add tabs
driver.find_element(By.XPATH,'//button[@class="close-button page-close"]').click()

# Click on the International navigation
driver.find_element(By.XPATH,'//div[@id="imw-international-men"]/a[2]').click()

time.sleep(5)
for _ in range(10):
    driver.execute_script("window.scrollBy(0,1000)")
    time.sleep(3)
    try:
        driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[3]/div[2]/div[1]/button[1]').click()
    except NoSuchElementException:
        print('-')

# Series
series_tag = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
try:
    for i in series_tag:
        series.append(i.text)
except NoSuchElementException:
    series.append('NA')

# Place
place_tag = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
try:
    for i in place_tag:
        place.append(i.text)
except NoSuchElementException:
    place.append('NA')

# Date
date_tag = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
try:
    for i in date_tag:
        date.append(i.text)
except NoSuchElementException:
    date.append('NA')
    
# Time
time_tag = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
try:
    for i in time_tag:
        m_time.append(i.text)
except NoSuchElementException:
    m_time.append('NA')
    
international_fixtures = pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':m_time})
international_fixtures

-
-
-
-
-
-
-
-
-
-

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,"29 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai","2 NOVEMBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata","5 NOVEMBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"M Chinnaswamy Stadium, Bengaluru","12 NOVEMBER, 2023",2:00 PM IST
...,...,...,...,...
206,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","6 SEPTEMBER, 2022",7:30 PM IST
207,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","4 SEPTEMBER, 2022",7:30 PM IST
208,NEW ZEALAND A TOUR OF INDIA,"M.Chinnaswamy Stadium, Bangalore","1 SEPTEMBER, 2022",9:30 AM IST
209,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",7:30 PM IST
210,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",7:30 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details: 
* A) Rank
* B) State
* C) GSDP(18-19)- at current prices
* D) GSDP(19-20)- at current prices
* E) Share(18-19)
* F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [67]:
# Connect the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get('https://statisticstimes.com/')

time.sleep(3)
economy = driver.find_element(By.XPATH,'//div[@id="top"]/div[2]/div[2]/button')

try:
    economy.click()
    driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
except NoSuchElementException:
    driver.get(economy.get_attribute('href'))
    
time.sleep(3)

try:
    ads=driver.find_element(By.XPATH,'//span[@class="ns-8gvvt-e-21"]')
    ads.click()
    gdp = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
except NoSuchElementException:
    driver.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')
    
time.sleep(3)

rank=[]
state=[]
GSDP_19_20=[]
GSDP_18_19=[]
share_18_19=[]
GDP_billion=[]


state_rank=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
try:
    for i in state_rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('NA')
    
state_name=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
try:
    for i in state_name:
        state.append(i.text)
except NoSuchElementException:
    state.append('NA')
        
GSDP_19_20_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
try:
    for i in GSDP_19_20_tag:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append('NA')
    
GSDP_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
try:
    for i in GSDP_18_19_tag:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append('NA')
    
share_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
try:
    for i in share_18_19_tag:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append('NA')
    
GDP_billion_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
try:
    for i in GDP_billion_tag:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('NA')
    
    
driver.close()

StateWise_GDP=pd.DataFrame({'Rank':rank,'State':state,'GSDP 19-20':GSDP_19_20,'GSDP 18-19':GSDP_18_19,'Share 18-19':share_18_19,'GDP billion':GDP_billion})
StateWise_GDP

,Rank,State,GSDP 19-20,GSDP 18-19,Share 18-19,GDP billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
* A) Repository title
* B) Repository description
* C) Contributors count
* D) Language used

In [192]:
# Connect the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get('https://github.com/')

# Clicking on Open Source  menu
open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
try:
    open_source.click()
    time.sleep(3)
except ElementNotInteractableException:
    driver.get(open_source.get_attribute('href'))
    
# Clicking on Trending under Open Source sub menu
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))
        
# Creating Empty list for Scraping Data
Title = []
Description = []
Count = []
Language = []
description = []

# Scraping title of repository
title_tag = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
try:
    for i in title_tag:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')
                
# Scraping repositories URL
URL= []
link=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in link:
    URL.append(i.get_attribute('href'))
    
for i in URL:
    driver.get(i)
    time.sleep(5)
    # Scraping description of Repository
    
    try:
        description_tag = driver.find_element(By.XPATH,'//p[@class="f4 mb-3 "]')
        Description.append(description_tag.text)
    except NoSuchElementException:
        Description.append('NA')
    
    # Scraping Contributor count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
    
    # Scraping Language
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')
        
driver.close()
        
Github=pd.DataFrame({'Repository title':Title,'Repository description':Description,
               'Contributors_count':Count,'Language_used':Language})

Github

,Repository title,Repository description,Contributors_count,Language_used
0,NVIDIA / TensorRT-LLM,,6,"[C++, Python, Cuda, CMake, Smarty, Shell]"
1,localsend / localsend,,68,"[Dart, C++, CMake, Swift, PowerShell, HTML]"
2,OpenBMB / XAgent,,13,"[TypeScript, Python, Vue, CSS, Dockerfile, Jav..."
3,WisdomShell / codeshell,,6,"[Python, Shell]"
4,WisdomShell / codeshell-vscode,,6,"[TypeScript, CSS, JavaScript]"
5,neuralmagic / deepsparse,,41,[Python]
6,Planetary-Computers / autotab-starter,,2,"[Python, Makefile]"
7,ByteByteGoHq / system-design-101,,7,[NA]
8,cloudcommunity / Free-Certifications,,57,[NA]
9,danieldonda / Cybersecurity101,,NA,[NA]
10,imartinez / privateGPT,,34,"[Python, Makefile, Dockerfile]"
11,radius-project / radius,,36,"[Go, TypeScript, Bicep, Makefile, Shell, Power..."
12,ionic-team / ionic-framework,,468,"[TypeScript, HTML, SCSS, JavaScript, Vue, CSS]"
13,slowmist / SlowMist-Learning-Roadmap-for-Becom...,,NA,[NA]
14,e2b-dev / awesome-ai-agents,,36,[NA]
15,felipemotarocha / fullstackweek-store,NA,NA,[TypeScript]
16,AntonOsika / gpt-engineer,,80,"[Python, Makefile]"
17,commaai / openpilot,,519,"[Python, C++, C, Shell, Cython, HTML]"
18,apexcharts / apexcharts.js,,151,"[JavaScript, CSS]"
19,TheRealJoelmatic / RemoveAdblockThing,,8,[JavaScript]
20,thuml / Time-Series-Library,,10,"[Shell, Python, Jupyter Notebook]"
21,danielgross / localpilot,NA,3,[Python]
22,babysor / MockingBird,,37,[Python]
23,cloudflare / workers-sdk,,126,"[TypeScript, JavaScript, HTML, Mustache, CSS, F#]"
24,hashicorp / terraform-provider-aws,,"2,875","[Go, HCL, Makefile, Shell, Smarty, JavaScript]"

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
    
* A) Song name
* B) Artist name
* C) Last week rank
* D) Peak rank
* E) Weeks on board

 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [20]:
# Connect the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get('https:/www.billboard.com/ ')

# Creating Empty List
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

# Clicking on hot 100 option
hot_100=driver.find_element(By.XPATH,'//ul[@aria-labelledby="mega-menu-item-charts"]/li[2]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

# Scraping Song Name
try:
    song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[1]/h3')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')
    
# Scraping Song Artist Name
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[1]/span')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
    
# Scraping Song last week rank
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"][1]/ul[1]/li[3]/span[1]')
    for i in last_rank:
        Last_Week_rank.append(i.text)
except NoSuchElementException:
    Last_Week_rank.append('NA')

# Scraping Song peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"][1]/ul[1]/li[4]/span[1]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')

# Scraping Song week on board
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"][1]/ul[1]/li[5]/span[1]')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append('-')
    
driver.close()

#creating dataframe
Billboard=pd.DataFrame({'Song_Name':Song,
                'Artist_Name':Artist,
                'Last_week_rank':Last_Week_rank,
                'Peak':Peak_rank,
                'Weeks_on_chart':Weeks})

Billboard

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Paint The Town Red,Doja Cat,,,
1,Snooze,SZA,,,
2,Cruel Summer,Taylor Swift,,,
3,Fast Car,Luke Combs,,,
4,3D,Jung Kook & Jack Harlow,,,
...,...,...,...,...,...
95,Long Journey,Rod Wave,,,
96,But I Got A Beer In My Hand,Luke Bryan,,,
97,Rubicon,Peso Pluma,,,
98,East Side Of Sorrow,Zach Bryan,,,
99,Where She Goes,Bad Bunny,,,

6. Scrape the details of Highest selling novels.

* A) Book name
* B) Author name
* C) Volumes sold
* D) Publisher
* E) Genre

 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [19]:
# Conncet the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(1)

# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('-NA')

# Scraping Book author's 
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher 
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre 
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
driver.close()

#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})

Top_Books

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ 
    
You haveto find the following details:

* A) Name
* B) Year span
* C) Genre
* D) Run time
* E) Ratings
* F) Votes

In [22]:
# Connect the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(1)

# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

# Scraping Name 
try:
    name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span 
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre 
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime 
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings 
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes 
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')
    
driver.close()
    
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})

IMDB_TV

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,212,800"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,282,756"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,049,964"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,528"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,486"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,944"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,013"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,851"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,090"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,413"

8. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ 

You have to find the following details:

* A) Dataset name
* B) Data type
* C) Task
* D) Attribute type
* E) No of instances
* F) No of attribute 
* G) Year
 
Note: - from the home page you have to go to the Show All Dataset page through code.

In [147]:
# Connect the webdriver
driver = webdriver.Chrome()
driver.maximize_window()

# Open the url
driver.get('https://archive.ics.uci.edu/')
time.sleep(1)

# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
dataset.click()
time.sleep(1)

# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]
Dataset_URL = []

url = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    Dataset_URL.append(i.get_attribute('href'))
    
for i in Dataset_URL:
    driver.get(i)
    time.sleep(2) 
    
    # Scraping DataSet Name
    try:
        dataset=driver.find_elements(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        for i in dataset:
            Dataset.append(i.text)
    except NoSuchElementException:
        Dataset.append('NA')


    # Scraping Data Type
    try:
        Type=driver.find_elements(By.XPATH,'//div[@class="col-span-4"][1]/p')
        for i in Type:
            Data_Type.append(i.text)
    except NoSuchElementException:
        Data_Type.append('NA')

    # Scraping Task
    try:
        task=driver.find_elements(By.XPATH,'//div[@class="col-span-4"][3]/p')
        for i in task:
            Task.append(i.text)
    except NoSuchElementException:
        Task.append('NA')

    # Scraping Attribute_Type 
    try:
        attribute_Type=driver.find_elements(By.XPATH,'//div[@class="col-span-4"][4]/p')
        for i in attribute_Type:
            Attribute_Type.append(i.text)
    except NoSuchElementException:
        Attribute_Type.append('NA')

    # Scraping No_of_Instances 
    try:
        no_of_Instances=driver.find_elements(By.XPATH,'//div[@class="col-span-4"][5]/p')
        for i in no_of_Instances:
            No_of_Instances.append(i.text)
    except NoSuchElementException:
        No_of_Instances.append('NA')

    # Scraping No_of_Attribute
    try:
        no_of_Attribute=driver.find_elements(By.XPATH,'//div[@class="col-span-4"][6]/p')
        for i in no_of_Attribute:
            No_of_Attribute.append(i.text)
    except NoSuchElementException:
        No_of_Attribute.append('NA')

    # Scraping Year
    try:
        year=driver.find_elements(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        for i in year:
            Year.append(i.text)
    except NoSuchElementException:
        Year.append('NA')
        
driver.close()
        
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                })

UCI_Dataset

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute
0,Iris,Tabular,Classification,Real,150,4
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14
3,Wine,Tabular,Classification,"Integer, Real",178,13
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30
5,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20
6,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7
9,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11